In [1]:
import numpy as np
import pandas as pd
import datetime
from dateutil.parser import parse
import matplotlib as plt
%matplotlib inline

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
# Load data sets to use 
folder = '/Users/mcullen/MyFolder/Documents/UCB_MIDS/W209_DataVisualization/w209-movies/data/'
# folder = '/Users/mauracullen/Documents/UCB_MIDS/W209_DataVisualization/Final_Project/w209-movies/data/'

df_hws = pd.read_csv(folder+'hollywoodStories_consol_windows_mac.csv')
df_hws.head()
df_wn = pd.read_csv(folder+'the-numbers-weekly-data.csv')
df_wn.head()

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977

In [3]:
print "Length hws: %i" % len(df_hws)
print "Length wn: %i" % len(df_wn)

print df_hws.columns.values
print df_wn.columns.values

Length hws: 1003
Length wn: 126644
['filmName' 'normalizedDistributor' 'scoreRotten' 'scoreAudience' 'story'
 'genre' 'openingWeekendNumTheaters' 'year' 'domesticGrossAdj'
 'foreignGrossAdj' 'worldwideGrossAdj' 'budgetAdj' 'openingWeekend'
 'domesticProfitability' 'worldwideProfitability' 'domToForeignRatio'
 'openingWeekendGrossPerScreen' 'domesticGrossInfAdj']
['filmName' 'change' 'currentRank' 'distributor' 'weekGross' 'week'
 'perTheater' 'previousRank' 'theaters' 'cumeGross' 'weekEnded']

In [4]:
print len(np.unique(df_hws['filmName']))
print len(np.unique(df_wn['filmName']))

1002
12343

In [5]:
# Parse Date
month = []
year = []
day = []
dates = pd.Series(df_wn['weekEnded'])
for date in dates:
    d = parse(date)
    year.append(d.year)
    month.append(d.month)
    day.append(d.day)


df_wn['Year'] = year
df_wn['Month'] = month
df_wn['Day'] = day 

df_wn.head()

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17

In [6]:
# Combine data into one data set
a = df_wn['filmName'].unique()
b = df_hws['filmName'].unique()
df = df_wn
g = np.ones(len(df))
g[g == '1'] = 'NaN'
df['Genre'] = g

print len(a)
print len(b)
for n in b: 
    if n in a:
        # find genre
        g = df_hws['genre'][np.argwhere(df_hws['filmName'] == n)[0]]
        # Locate the filename in df
        locs = np.argwhere(df['filmName'] == n)
        # replcae genere names in correct locations
        df.loc[locs[:,0],"Genre"] = g.values[0]
    
df.head()

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: VisibleDeprecationWarning: using a boolean instead of an integer will result in an error in the future

12343
1002

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day,Genre
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27,NaN
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3,1
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10,1
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17,1
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17,1

In [7]:
df.to_csv('weekly_number_wGenre.csv')

In [8]:
print list(df.columns)
df.head()

['filmName', 'change', 'currentRank', 'distributor', 'weekGross', 'week', 'perTheater', 'previousRank', 'theaters', 'cumeGross', 'weekEnded', 'Year', 'Month', 'Day', 'Genre']

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day,Genre
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27,NaN
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3,1
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10,1
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17,1
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17,1

In [9]:
# Filter only movies with distrbutors
null = np.argwhere(df['distributor'].isnull().values)
print df.shape
# Remove rows without genres
df = df.drop(df.index[list(null[:,0])])
print df.shape

(126644, 15)
(121408, 15)

In [10]:
list(df.columns)

['filmName',
 'change',
 'currentRank',
 'distributor',
 'weekGross',
 'week',
 'perTheater',
 'previousRank',
 'theaters',
 'cumeGross',
 'weekEnded',
 'Year',
 'Month',
 'Day',
 'Genre']

In [11]:
# Create overall df for overview visual
# Calculate yearly gross value by genre
overall_df = pd.DataFrame(columns=['Studio','Month','avg_Monthly_gross','avg_Monthly_cume_Gross'])
# 'Year'

c = 0
ds = df.distributor.unique()
tgross = []
cgross = []
for dist in ds:
    dfg = df.loc[(df.distributor== dist)]
    # years = dfg['Year'].unique()
    mos = dfg['Month'].unique()
    # for year in years[1:len(years)]: 
    for mo in mos: 
        # df_y = dfg.loc[(dfg['Year']== year)]
        df_m = dfg.loc[(dfg['Month']== mo)]
        for yr in df_m['Year'].unique(): 
            df_y = df_m.loc[(df_m['Year']== yr)]
            tgross.append(sum(df_y['weekGross']))
            cgross.append(sum(df_y['cumeGross']))
        rowi = pd.DataFrame({'Studio': dist,'Month':mo,'avg_Monthly_gross':np.mean(tgross),
                             'avg_Monthly_cume_Gross':np.mean(cgross)}, index=[0]) 
        overall_df = pd.concat([overall_df, rowi], axis = 0)
        
print overall_df.shape
overall_df.head()
overall_df.to_csv('Studio_overall_data_mo.csv')

(4178, 4)

In [19]:
overall_df['Studio'].unique()

profit_df = pd.DataFrame(columns=['Studio','Profit'])
for studio in overall_df['Studio'].unique():
    s = sum(overall_df['avg_Monthly_gross'][overall_df['Studio'] == studio])
    rowi = pd.DataFrame({'Studio': studio,'Profit':s}, index=[0]) 
    profit_df = pd.concat([profit_df, rowi], axis = 0 )

In [29]:
df.head()
list(df.columns)
print min(df['weekEnded']), max(df['weekEnded'])

1/1/1982 9/9/2016

In [35]:
# Print details about data set
print "Number of films: %i" % len(df['filmName'].unique())
print "Date Range: "
print min(df['weekEnded']), max(df['weekEnded'])
print "Number of Distributors %i" % len(df['distributor'].unique())

Number of films: 11596
Date Range:
1/1/1982 9/9/2016
Number of Distributors 752

In [36]:
top_25_df = profit_df.sort_values('Profit', ascending = False)[:25]
top_25_studios = profit_df.sort_values('Profit', ascending = False)[:25]['Studio']
print top_25_df.head()

         Profit            Studio
0  9.216546e+08         Universal
0  8.185128e+08  20th Century Fox
0  8.059003e+08     Sony Pictures
0  7.907792e+08    Orion Pictures
0  7.769361e+08           Embassy

In [37]:
# Seleect only top 25 studios from datafram
t25_df = pd.DataFrame(columns=['Studio','Month','avg_Monthly_gross','avg_Monthly_cume_Gross'])
for st in top_25_studios:
    t25 = overall_df[overall_df['Studio'] == st]
    t25_df = pd.concat([t25_df,t25], axis = 0)

t25_df['Total_gross_mil'] = t25_df['avg_Monthly_gross']/1000000
t25_df.to_csv('Top25_Studio_overall_data_mo.csv')

In [38]:
t25_df.sort_values('Month')[:10]
sorted_df = t25_df.sort_values('Studio').sort_values('Month')
sorted_df.head()
list(t25_df.columns)

['Month',
 'Studio',
 'avg_Monthly_cume_Gross',
 'avg_Monthly_gross',
 'Total_gross_mil']

In [ ]:
a = []
for i in range(len(sorted_df.Studio)):
    a.append("{key : \"%s\", date: \"01/%i\", value: \"%0.2f\"}" % (sorted_df['Studio'][0].values[i], 
                                                      sorted_df['Month'][0].values[i], 
                                                      sorted_df['Total_gross_mil'][0].values[i]))

In [57]:
t25_df.shape
top_25_studios.values
t25_df.head()

,Month,Studio,avg_Monthly_cume_Gross,avg_Monthly_gross,Total_gross_mil
0,5.0,Universal,6.881951e+08,7.185244e+07,71.852438
0,6.0,Universal,7.176225e+08,8.743154e+07,87.431545
0,7.0,Universal,8.199329e+08,9.628270e+07,96.282696
0,8.0,Universal,9.242255e+08,9.205500e+07,92.055004
0,9.0,Universal,9.703225e+08,8.124507e+07,81.245071

In [48]:
# Create Dataframe for each studio with the Monthly profit calculated by film 
c = 0
film_count = 0
print_txt = False

# ds = df.distributor.unique()
for dist in top_25_studios.values:
    c = c+1
    print c, dist
    dfg = df.loc[(df.distributor == dist)]
    studio_df = pd.DataFrame(columns=['Studio','Film','Month','Monthly_Gross',
                                      'Monthly_Gross_Mil','Monthly_Cume_Gross'])
    film_count = film_count + len(dfg['filmName'].unique())
    for mo in dfg.Month.unique():
        dfm = dfg.loc[(dfg.Month == mo)]        
        for film in dfm.filmName.unique():
            dff = dfm.loc[(dfg.filmName == film)]
            rowi = pd.DataFrame({'Studio': dist,'Film':film, 'Month':mo,
                                 'Monthly_Gross': sum(dff['weekGross']),
                                 'Monthly_Gross_Mil': sum(dff['weekGross'])/1000000,
                                 'Monthly_Cume_Gross': sum(dff['cumeGross'])}, index=[0]) 
            studio_df = pd.concat([studio_df, rowi], axis = 0)
    print studio_df.shape
    studio_df.to_csv(str(c) + '_Studio_data.csv')
    
    # Print for each Studio of interest 
    # file_txt = open(dist + '.txt','w')
    if print_txt == True:
        for m in range(12):
            for i in range(len(studio_df['Film'].unique())):
                # f = studio_df['Film'][0].values[i]
                f = studio_df['Film'].unique()[i]
                c = studio_df[studio_df.Month == m+1]
                if len(c[c['Film'].astype(str).str.contains(f)]):
                    temp = studio_df[studio_df.Month == m+1]
                    temp = temp[temp.Film == f]
                    if len(temp['Monthly_Gross']) == 0:
                        profit = 0.00
                        continue
                    profit = temp['Monthly_Gross'].values[0]
                else: 
                    profit = 0.00 
        
                txt = "{key: \"%s\", date: \"01/%i\", value: \"%0.2f\"}," % (f, m+1, profit)
                print txt
                # file_txt.write(txt)
            # file_txt.close()
            
print film_count

1 Universal
(1606, 6)
2 20th Century Fox
(2023, 6)
3 Sony Pictures
(2120, 6)
4 Orion Pictures
(207, 6)
5 Embassy
(30, 6)
6 Paramount Pictures
(1704, 6)
7 Walt Disney
(2177, 6)
8 Cannon
(55, 6)
9 United Artists
(36, 6)
10 Cinecom
(25, 6)
11 MGM/UA Classics
(59, 6)
12 Atlantic
(35, 6)
13 Warner Bros.
(2470, 6)
14 USA Films
(91, 6)
15 Samuel Goldwyn Films
(240, 6)
16 MGM
(800, 6)
17 Columbia
(27, 6)
18 New World
(70, 6)
19 Sony/TriStar
(118, 6)
20 Island/Alive
(28, 6)
21 New Line
(605, 6)
22 Goldwyn Entertainment
(83, 6)
23 Empire Pictures
(78, 6)
24 Rialto Pictures
(230, 6)
25 Cinema Guild
(187, 6)
4552

In [66]:
top_25_df['Profit_Mils'] = top_25_df['Profit'] / 1000000
top_25_df

         Profit                 Studio  Profit_Mils
0  9.216546e+08              Universal   921.654592
0  8.185128e+08       20th Century Fox   818.512829
0  8.059003e+08          Sony Pictures   805.900339
0  7.907792e+08         Orion Pictures   790.779198
0  7.769361e+08                Embassy   776.936108
0  7.756619e+08     Paramount Pictures   775.661903
0  7.754512e+08            Walt Disney   775.451190
0  7.670659e+08                 Cannon   767.065917
0  7.593244e+08         United Artists   759.324386
0  7.586813e+08                Cinecom   758.681296
0  7.524398e+08        MGM/UA Classics   752.439762
0  7.460882e+08               Atlantic   746.088165
0  7.391900e+08           Warner Bros.   739.190045
0  7.390012e+08              USA Films   739.001247
0  7.188332e+08   Samuel Goldwyn Films   718.833235
0  7.103989e+08                    MGM   710.398852
0  7.051155e+08               Columbia   705.115477
0  6.998173e+08              New World   699.817275
0  6.884224e+08           Sony/TriStar   688.422360
0  6.807661e+08           Island/Alive   680.766120
0  6.703104e+08               New Line   670.310411
0  6.574859e+08  Goldwyn Entertainment   657.485930
0  6.473151e+08        Empire Pictures   647.315070
0  6.287646e+08        Rialto Pictures   628.764603
0  6.090501e+08           Cinema Guild   609.050082

In [ ]:
# Print Data 
# { key: "Zapped!", date: "01/01", value: "0" },
name = 'hey'
file_txt = open(name + '.txt','w')
# Print for each Studio of interest 
for m in range(12):
    for i in range(len(studio_df['Film'].unique())):
        # f = studio_df['Film'][0].values[i]
        f = studio_df['Film'].unique()[i]
        c = studio_df[studio_df.Month == m+1]
        if len(c[c['Film'].astype(str).str.contains(f)]):
            temp = studio_df[studio_df.Month == m+1]
            temp = temp[temp.Film == f]
            if len(temp['Monthly_Gross']) == 0:
                profit = 0.00
                continue
            profit = temp['Monthly_Gross'].values[0]
        else: 
            profit = 0.00 
        
        txt = "{key: \"%s\", date: \"01/%i\", value: \"%0.2f\"}," % (f, m+1, profit)
        print txt
        file_txt.write(txt)

    file_txt.close()

In [ ]:
# https://matplotlib.org/examples/pie_and_polar_charts/polar_scatter_demo.html

# size in gross income by movie
# color is genre or distributor
# circle around is month of year or year 

    
print len(studio_df['Film'].unique())
print studio_df['Film'].unique()[11]
studio_df['Film'].unique()